---
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
console.log('Debug: All posts found:', posts.length);
posts.forEach(post => {
  console.log('Post:', post.slug, '|', post.data.title);
});
---

<html>
<head>
  <title>Debug Posts</title>
</head>
<body>
  <h1>Blog Posts Debug</h1>
  <ul>
    {posts.map(post => (
      <li>
        <strong>Slug:</strong> {post.slug} | <strong>Title:</strong> {post.data.title}
      </li>
    ))}
  </ul>
  
  <h2>Test Edit Links</h2>
  <ul>
    {posts.map(post => (
      <li>
        <a href={`/editor?edit=${post.slug}`}>Edit: {post.data.title}</a>
      </li>
    ))}
  </ul>
</body>
</html>