---
import { SITE } from "@consts"
import { cn } from "@lib/utils"
import { Icon } from "astro-icon/components"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
---

<div id="drawer" class="fixed inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center md:hidden bg-neutral-100 dark:bg-neutral-900 transition-[height] duration-300 ease-in-out">
  <nav class="flex flex-col items-center space-y-2">
    <!-- Navigation links removed -->
  </nav>

  <div class="flex gap-1 mt-5">
    <a href="/search" aria-label={`Search blog posts and projects on ${SITE.TITLE}`} class={cn("size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-black/5 dark:hover:bg-white/20 text-current hover:text-black hover:dark:text-white border border-black/10 dark:border-white/25 transition-colors duration-300 ease-in-out", pathname === "/search" || "/" + subpath?.[0] === "search" ? "pointer-events-none bg-black dark:bg-white text-white dark:text-black" : "")}>
      <Icon name="lucide:search" class="size-full" />
    </a>

    <a href="/rss.xml" target="_blank" aria-label={`Rss feed for ${SITE.TITLE}`} class="size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-black/5 dark:hover:bg-white/20 text-current hover:text-black hover:dark:text-white border border-black/10 dark:border-white/25 transition-colors duration-300 ease-in-out">
      <Icon name="lucide:rss" class="size-full" />
    </a>

    <a href="/settings" aria-label={`Settings`} class={cn("size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-black/5 dark:hover:bg-white/20 text-current hover:text-black hover:dark:text-white border border-black/10 dark:border-white/25 transition-colors duration-300 ease-in-out", pathname === "/settings" ? "pointer-events-none bg-black dark:bg-white text-white dark:text-black" : "")}>
      <Icon name="lucide:settings" class="size-full" />
    </a>

    <button id="drawer-theme-button" aria-label={`Toggle light and dark theme`} class="size-9 rounded-full p-2 items-center justify-center bg-transparent hover:bg-black/5 dark:hover:bg-white/20 text-current hover:text-black hover:dark:text-white border border-black/10 dark:border-white/25 transition-colors duration-300 ease-in-out">
      <Icon name="lucide:sun" class="block dark:hidden size-full" />
      <Icon name="lucide:moon" class="hidden dark:block size-full" />
    </button>
  </div>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>